html{
    font-size: 22px ;
}

body {
    background-color: black;
    color: antiquewhite;
}
a {
    color:aliceblue;
}
a:visited{
    color:aquamarine;
}
a:hover,a:active{
    color:bisque;
}
table, tr, th,td,caption{
    border: 1px solid #eee;
    font-family: 'Courier New', Courier, monospace;
    border-collapse: collapse;
    padding: 0.5rem;
}