body{
    display: block;
    text-align: center;
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #82a5ca;
    margin: 0;
  }

.btn{

    padding: 6px 12px;
    border-radius: 0%;
    font-weight: bold;
    background-color: white;
    color:#82a5ca;
    border: none;
    font-family: inherit;
}
.cta{
    border-bottom: 4px solid white;

}
#logo{
    width: 15%;
    height: 7%;
}
#content{
    background-image: url("images/galaxy.webp");
    background-size: cover;
    padding: 10px 0px 40px 0px;
}
#title{
    text-shadow: 1px -1px  12px black;
}