body{
    display: block;
    color: azure;
    text-align: center;
    background-image: url("images/img1.jpg");
    background-size: cover;
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: Corleone;
    src: url("TheGodfather-v2.ttf");
  }
  h2{
    font-family: Corleone;
  }
    

.btn{
    padding: 6px 12px;
    border-radius: 0%;
    font-weight: bold;
    background-color: white;
    border: none;
    font-family: inherit;
}