.main{   
     margin-top: 50px;
}
.googleimg{
    width: 300px;
    display: block;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right:auto;
 }
.text{
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 400px;
    text-align: right;
    
}
.buttonstwo{
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    align-content: center;
}
.red{
    margin-top: 20px;
    background-color: red;
    height: 50px;
    margin-top: 10px;
}
/*flag of gambai*/
.blue{
    margin-top: 10px;
    background-color: blue;
    height: 50px;
    margin-bottom: 10px;
}
.green{
    background-color: green;
    height: 50px;
}
