.main{   
     margin-top: 50px;
     text-align: center;
}
.googleimg{
    width: 300px;
    display: block;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right:auto;
 }
input{
    line-height: 24px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: inherit;
    width: 400px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    
}
.btn1{
    margin-top: 10px;
    color:black;
    border-color: #dfe1e5;
    border-radius: 4px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 16px;
    padding-left: 16px;
    font-size: 14px;
    /*border:none also can be done*/
}
.btn2{
    margin-top: 10px;
    color:black;
    border-color: #dfe1e5;
    border-radius: 4px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 16px;
    padding-left: 16px;
    font-size: 14px;
    /*border:none also can be done*/
}
.buttonstwo{
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    align-content: center;
}
.red{
    margin-top: 20px;
    background-color: red;
    height: 50px;
    margin-top: 10px;
}
/*flag of gambai*/
.blue{
    margin-top: 10px;
    background-color: blue;
    height: 50px;
    margin-bottom: 10px;
}
.green{
    background-color: green;
    height: 50px;
}
