body{
    margin: 20px;
    width: 400px;
    justify-content: center;
    display: block;
    margin-left:auto ;
    margin-right: auto;
}
.imgg{
    background-color: aliceblue;
    width: 150px;
    border: solid black;
}
.container{
    background-color: #ddebf8;
    border: double black;
    padding: 20px ;
    display: flex;
    justify-content:space-around;
    text-align: center;
    border-bottom:7px solid purple;
}
